ul.img-view {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

ul.img-view li {
  display: inline-block;
}

.img-view img {
  width: 100%;
  height: 100%;
  opacity: 0.45;
  transition: all 0.15s linear;
}

.img-view img.active {
  opacity: 1;
}

.img-view img:hover {
  opacity: 1;
}

ul.list-view {
  color: white;
  list-style-type: none;
  font-family: "Corben", cursive;
}

ul.list-view li {
  padding-left: 5px;
  border-radius: 10px;
  cursor: pointer;
}

ul.list-view li.active {
  background-color: salmon;
}

ul.list-view li:hover {
  outline: 3px dashed salmon;
}

.loading-content {
  color: salmon;
  font-size: 2.3vw;
}
