ul.img-view {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.img-view li {
  display: inline-block;
}

ul.list-view {
  color: white;
  list-style-type: none;
  font-family: "Corben", cursive;
}

ul.list-view li {
  padding-left: 5px;
  border-radius: 10px;
  cursor: pointer;
}

ul.list-view li.active {
  background-color: salmon;
}

ul.list-view li:hover {
  outline: 3px dashed salmon;
}

.loading-content {
  color: salmon;
  font-size: 2.3vw;
}

.link-copy-status {
  color: salmon;
  font-family: "Corben", cursive;
  z-index: 2;
  padding: 10px;
  position: absolute;
  background-color: black;
  bottom: 50px;
  left: 50%;
}
